<div class="unlogged-area">
  <!-- section 01 -->
  <div class="bg">
    <nav class="nav-bar d-flex position-absolute">
      <div class="img-logo-area">
        <img class="img-logo" src="../../../assets/img/logo-netflix-t.png" alt="">
      </div>
      <div class="buttons-navbar-area">
        <button class="btn btn-language"><a class="">Português</a></button>
        <button class="btn btn-join"><a>Entrar</a></button>
      </div>
    </nav>
    <div class="main-content d-grid align-content-center">
      <div>
        <div class="text-area text-center">
          <h1>Filmes, séries e muito mais. Sem limites.</h1>
          <h2>Assista onde quiser. Cancele quando quiser.</h2>
          <h3>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h3>
        </div>
        <div class="form-area text-center">
          <input type="text" placeholder="Email">
          <button class="btn btn-go">Vamos lá <i class="bi bi-caret-right"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- section 02 -->
  <div class="second-section">
    <div class="content-area d-flex">
      <div class="d-grid align-content-center text-center">
        <h1>Aproveite na TV.</h1>
        <h2>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h2>
      </div>
      <div>
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="">
      </div>
    </div>
  </div>

  <!-- section 03 -->
  <div class="third-section">
    <div class="content-area">
      Alguma coisa
    </div>
  </div>

  <div>
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>
